#about
    .textbox
        line-height: 1.8
        text-align: center
        font-style: normal
        h1
            font-size: 45px
            font-weight: 800
        h5
            font-size: 18px
            font-style: italic
            color: #968d8d
            margin-bottom: 70px