#about
    .col
        margin-bottom: 130px
    .margin
        margin-top: 100px
        margin-left: 100px
    .textbox
        line-height: 1.8
        text-align: center
        h1
            font-size: 45px
            font-weight: 800
        h5
            font-size: 18px
            font-style: italic
            color: #968d8d
            margin-bottom: 70px
    .box
        display: flex
        .textbox1
            margin-left: 100px
            line-height: 1.3
            h2
                margin: 7px 0
                font-weight: 700
                font-size: 30px
            p
                color: #6c757d
                font-size: 19px
                width: 400px
        .imgbox
            margin-left: 70px
            border: 6px solid #e9ecef
            border-radius: 100%
            width: 160px
            height: 160px
    .box2
        display: flex
        justify-content: end
        .textbox2
            margin-right: 100px
            line-height: 1.3
            h2
                margin: 7px 0
                font-weight: 700
                font-size: 30px
            p
                color: #6c757d
                font-size: 19px
                width: 400px
        .imgbox1
            margin-right: 59px
            border: 6px solid #e9ecef
            border-radius: 100%
            width: 160px
            height: 160px
    
    .textyellow
        text-align: center
        line-height: 1.3
        display: flex
        justify-content: center
        align-items: center
        border: 6px solid #e9ecef
        border-radius: 100%
        width: 160px
        height: 160px
        background-color: #fcc500
        color: #ffffff
        font-size: 20px
        font-weight: 700
        h3
            width: 67px
    // @media screen and (max-width: 768px)

