#about
    .text1
        h1
            font-size: 45px
            font-weight: 800
        h2
            font-size: 18px
            font-style: italic
            color: #6c757d
            margin: 20px 0 60px
            font-weight: 400
    .box
        .textbox
            line-height: 1.5
            h3
                font-weight: 800
                font-size: 25px
            p
                color: #6c757d
                font-weight: 400
                font-size: 18px
        .imgbox
            border-radius: 100%
            border: 5px #e9ecef solid
    @media (max-width: 767px)
        .reverse
            display: flex
            flex-direction: row-reverse
            .textbox
                padding-left: 60px
                text-align: start
            .imgbox

                margin-bottom: 100px
    @media (min-width: 375px)
        .box
            // .textbox
            //     margin: 0
            //     padding: 0
            .imgbox
                margin-bottom: 170px
                margin-left: 0
                height: 100%
                width: 100%
    @media (min-width: 576px)
        .box
            .textbox
                margin: 0
                padding: 0
            
                
                // height: 100%
                // width: 100%
    @media (min-width: 768px)
        .box
            .textbox
                width: 250px
                text-align: end
            .imgbox
                margin-left: 50px
                margin-bottom: 150px
                width: 95px
                height: 95px
    @media (min-width: 992px)
        .box
            .imgbox
                width: 135px
                height: 135px
                margin-left: 40px
            .textbox
                width: 300px
                margin-left: 50px
                margin-bottom: 40px
                text-align: end
    @media (min-width: 1200px)
        .box
            .textbox
                width: 300px
                margin-left: 150px
                text-align: end
            .imgbox
                margin-left: 30px
                margin-bottom: 120px
    @media (min-width : 1400px)
        .box
            .imgbox
                width: 160px
                height: 160px
            .textbox
                margin-bottom: 100px
                width: 390px
                text-align: end
    // @media screen and ( max-width: 992px )
    //     .imgbox
    //         margin: 0
    //     .textbox
    //         margin: 0
