header
        
        background-color: #212529
        .menu
                display: flex
                align-items: center
                justify-content: space-between

                height: 75px
        .imgbox
                width: 150px
        nav
                a
                        color: #ffffff
                        margin-right: 30px
                        font-size: 17px
                        font-weight: 100
                        &:hover
                                color: #ffea00ff
        
