header
    
        background-image: url("../assets/navbar-logo.svg")

        background-color: #000000
        background-position: center
        background-repeat: no-repeat
        background-size: cover
