#portfolio
    .textbox
        line-height: 1.8
        text-align: center
        font-style: normal
        h1
            font-size: 45px
            font-weight: 800
        h5
            font-size: 18px
            font-style: italic
            color: #968d8d
            margin-bottom: 70px
    .textbox1
        line-height: 1.8
        text-align: center
        font-style: normal
        h3
            font-size: 30px
            font-weight: 800
        h4
            font-size: 18px
            font-style: italic
            color: #968d8d
            margin-bottom: 50px
    .imgbox
        position: relative
        .hover
            font-size: 50px
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: #f4e407
            opacity: 0
            transition: 0.3s 
            display: flex
            align-items: center
            justify-content: center

            i
                color: #fff

        &:hover
            .hover
                opacity: 1
