#services
    .text-center
        margin-bottom: 55px
        h1
            font-size: 60px
            font-weight: 700
            margin-bottom: 10px
            cursor: text
        h5
            font-size: 20px
            color: #828080
            cursor: text

    .box
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        .icon
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100%
            background-color: #ffc800
            border: 1px solid #ffc800
            width: 130px
            height: 130px
            i
                font-size: 75px
                color: #ffffff
        h2,p
            text-align: center
        h2
            font-size: 25px
            font-weight: 800
            margin-top: 20px
            margin-bottom: 20px
            color: #000000
        p
            font-size: 20px
            line-height: 1.4
            color: #6C757D
