#welcome
    height: 100vh
    display: flex
    align-items: center
    .textbox
        display: flex
        flex-direction: column
        align-items: center
        h1

            font-size: 45px
            font-style: italic
            font-weight: 300
            margin-bottom: 20px
            align-self: center
        h5
            
            font-size: 85px
            font-weight: 800
    .btn
        color: #ffffff
        margin-top: 59px
        border: 1px solid #ffffff
        width: 240px
        height: 75px
        background-color: #ffc800
        border-radius: 10px
        padding-top: 20px
        margin-left: 530px
        font-style: normal
        font-size: 20px
