body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body .imgbox {
  overflow: hidden;
}
body .imgbox img {
  width: 100%;
}
body section {
  padding: 97px 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #212529;
  z-index: 1000;
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
header .imgbox {
  width: 150px;
}
header .btn {
  position: absolute;
  right: 120px;
  padding-left: 12px;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 45px;
  display: flex;
  color: #ffffff;
}
header .btn h1 {
  color: #ffffff;
  font-weight: 300;
}
header nav a {
  color: #ffffff;
  margin-right: 30px;
  font-size: 17px;
  font-weight: 100;
}
header nav a:hover {
  color: #ffea00;
}
@media screen and (min-width: 990px) {
  header .btn {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  header nav {
    display: none;
  }
}

#welcome {
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
}
#welcome .textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome .col-md-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome .col-md-12 h1 {
  color: #ffffff;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 20px;
}
#welcome .col-md-12 h5 {
  color: #ffffff;
  font-weight: 800;
}
#welcome .btn {
  color: #ffffff;
  margin-top: 59px;
  border: 1px solid #ffffff;
  width: 240px;
  height: 75px;
  background-color: #ffc800;
  border-radius: 10px;
  padding-top: 20px;
  font-style: normal;
  font-size: 20px;
}
@media (min-width: 576px) {
  #welcome h1 {
    font-size: 25px;
  }
  #welcome h5 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  #welcome h1 {
    font-size: 40px;
  }
  #welcome h5 {
    font-size: 45px;
  }
}
@media (min-width: 992px) {
  #welcome h1 {
    font-size: 45px;
  }
  #welcome h5 {
    font-size: 85px;
  }
}

#services .textbox {
  line-height: 1.8;
  text-align: center;
  font-style: normal;
}
#services .textbox h1 {
  font-size: 45px;
  font-weight: 800;
}
#services .textbox h5 {
  font-size: 18px;
  font-style: italic;
  color: #968d8d;
  margin-bottom: 70px;
}
#services .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#services .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f9e801;
  border: 1px solid #f9e801;
  width: 130px;
  height: 130px;
}
#services .box .icon i {
  font-size: 75px;
  color: #ffffff;
}
#services .box h2, #services .box p {
  text-align: center;
}
#services .box h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}
#services .box p {
  font-size: 20px;
  line-height: 1.4;
}

#portfolio .textbox {
  line-height: 1.8;
  text-align: center;
  font-style: normal;
}
#portfolio .textbox h1 {
  font-size: 45px;
  font-weight: 800;
}
#portfolio .textbox h5 {
  font-size: 18px;
  font-style: italic;
  color: #968d8d;
  margin-bottom: 70px;
}
#portfolio .textbox1 {
  line-height: 1.8;
  text-align: center;
  font-style: normal;
}
#portfolio .textbox1 h3 {
  font-size: 30px;
  font-weight: 800;
}
#portfolio .textbox1 h4 {
  font-size: 18px;
  font-style: italic;
  color: #968d8d;
  margin-bottom: 50px;
}
#portfolio .imgbox {
  position: relative;
}
#portfolio .imgbox .hover {
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 200, 0, 0.9);
  opacity: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio .imgbox .hover i {
  color: #fff;
}
#portfolio .imgbox:hover .hover {
  opacity: 1;
}

#about .textbox {
  line-height: 1.8;
  text-align: center;
  font-style: normal;
}
#about .textbox h1 {
  font-size: 45px;
  font-weight: 800;
}
#about .textbox h5 {
  font-size: 18px;
  font-style: italic;
  color: #968d8d;
  margin-bottom: 70px;
}/*# sourceMappingURL=style.css.map */